<h1>Island</h1>
<h2>Lista de productos</h2>

<div class="cardContainer container">
    {{>card}}
</div>

<div class="divPaginate text-wrap">
    {{#if hasPrevPage}}
    <a href="/products?page={{prevLink}}"> Anterior </a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="{{nextLink}}"> Siguiente </a>
    {{/if}}
    <p>Pagina {{currentPage}} de {{totalPages}} </p>
</div>